<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>帖子详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>
<body>
<div id="app" v-cloak>
    <div class="ui-form-edit">
        <el-form :model="form" :rules="rules" ref="forms" label-width="150px">
            <div class="ui-block">
                <div class="ui-title">链接管理</div>
                <!--<div class="ui-block-bd">-->
                    <!--<el-form-item label="所属部门" prop="selectDept" required>-->
                        <!--<multiselect :data="deptSelectOptions" :select-ids.sync="form.selectDept"-->
                                     <!--:checked-list="checkedDepeList" label="deptName" value="id"-->
                                     <!--:on-click="onSelectDept"></multiselect>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="客服等级身份" prop="kfIdentity" required>-->
                        <!--<el-select v-model="form.kfIdentity" @change="changeKfIdentity" placeholder="请选择">-->
                            <!--<el-option v-for="item in kfIdentities" :value="item.index" :key="item.index" :label="item.desc"></el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="技能组" prop="selectSkillGroup" required>-->
                        <!--<multiselect :data="skillGroupSelectOptions" :select-ids.sync="form.selectSkillGroup"-->
                                     <!--:checked-list="checkedSkillGroupList"-->
                                     <!--label="skillGroup" value="id" :on-click="onSelectSkillGroup"></multiselect>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="角色" prop="selectRole" required>-->
                        <!--<multiselect :data="roleSelectOptions" :select-ids.sync="form.selectRole"-->
                                     <!--:checked-list="checkedRoleList"-->
                                     <!--label="roleName" value="id" :on-click="onSelectRole"></multiselect>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="客服类型" prop="kfType" required>-->
                        <!--<el-select v-model="form.kfType" placeholder="请选择">-->
                            <!--<el-option v-for="item in kfTypeSelectOptions" :label="item.kfTypeName"-->
                                       <!--:value="item.kfType" :key="item.kfType"></el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="邮箱地址" >-->
                        <!--<el-input v-model="form.email" placeholder="注：多个邮箱以 ; 间隔"></el-input>-->
                    <!--</el-form-item>-->
                <!--</div>-->
            </div>
            <div class="ui-block">
                <div class="ui-title">内容管理</div>
                <!--<div class="ui-block-bd">-->
                    <!--<el-form-item label="最大处理能力" >-->
                        <!--<el-input v-model="form.handleLimit" placeholder="请输入"></el-input>-->
                    <!--</el-form-item>-->

                    <!--<el-form-item label="工单处理量" >-->
                        <!--<el-input v-model="form.exceptCount" placeholder="请输入"></el-input>-->
                    <!--</el-form-item>-->
                <!--</div>-->
            </div>
            <div class="ui-block">
                <div class="ui-title">规则管理</div>
            </div>
            <!--<div class="ui-form-edit__footer">-->
                <!--<div class="ui-block-bd">-->
                    <!--<el-form-item>-->
                        <!--<el-button type="primary" @click="submit">提交</el-button>-->
                    <!--</el-form-item>-->
                <!--</div>-->
            <!--</div>-->
        </el-form>
    </div>
</div>
</body>
</html>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
<script type="text/javascript">
    var urls = {
        getDataUrl:'/task/search/',
        getPlatformsUrl:'/enums/getPlatforms',
        getPlatFormModulesUrl:'/enums/getPlatFormModules',
        getTaskTypesUrl:'/enums/getTaskTypes',
        getPlatformStatusUrl:'/enums/getPlatformStatus',
    }

    var app = new Vue({
        el: '#app',
        data: {
            form: {
                name: '',
                platform: '',
                module: '',
                taskType: '',
                status: '',
            },
            tableData: [], // 表格数据
            isLoading: false, // 是否加载中
            // 是否显示编辑弹窗
            isShowEdit: false,
            // 编辑的内容
            formEdit: {},
            // 编辑的条目
            formEditItem: {},
            pageTotal: 0, // 总条数
            pageNo: 1, // 当前分页
            pageSize: 10, // 每页条数
            tableSelect: [],// 储存表格选择的数据
            roleSelectOptions:[],
            // 表单验证规则
            rules: {
            },
            platforms: [], // 平台枚举列表
            platFormModules: [], // 板块枚举列表
            taskTypes: [], // 任务类型枚举列表
            platformStatus: [], // 业务状态枚举列表
        },
        methods: {

            getData: function(params) {
                var _this = this;
                _this.isLoading = true;
                var url = urls.getDataUrl + _this.pageNo;
                params = params || {};
                params["pageSize"] = _this.pageSize;
                _this.post(url,params, function(data, res) {
                    _this.tableData = data.list;
                    _this.pageTotal = data.total;
                    _this.isLoading = false;
                })
            },

            /**
             * 重置表单
             * @return {[type]} [description]
             */
            reset: function() {
                location.reload();
            },

            search: function() {
                var _this = this;
                _this.getData(_this.form);
            },

            onPageChange: function(page) {
                this.pageNo = page;
                this.getData(this.form);
            },

            onSizeChange: function(size) {
                this.pageSize = size;
                this.getData(this.form);
            },

            showEdit: function(item) {
                var _this = this;
                if (item.row) {
                    var content = item.row;
                    for (var key in content) {
                        if (content.hasOwnProperty(key)) {
                            _this.$set(_this.formEdit, key, content[key])
                        }
                    }
                    _this.isShowEdit = true;
                    _this.formEditItem = content;
                }
            },

            submitEdit: function() {
                var _this = this;
                for (var key in _this.formEdit) {
                    if (_this.formEdit.hasOwnProperty(key)) {
                        _this.$set(_this.formEditItem, key, _this.formEdit[key])
                    }
                }
                var url = urls.updateUrl;
                var params = _this.formEditItem;
                _this.post(url,params, function(data) {
                    if(data.success){
                        _this.isShowEdit = false;
                        _this.message('修改成功 !');
                    }else{
                        _this.message('修改失败 !');
                    }
                })
            },

            /**
             * 删除事件
             * @param  {[type]} item [description]
             * @return {[type]}       [description]
             */
            remove: function(item) {
                var _this = this;
                var index = item.$index;
                _this.confirm('确定删除 ?', function() {
                    var params = {
                        id:item.row.id,
                        userName:item.row.userName,
                    }
                    var url=urls.deleteUrl;
                    _this.post(url,params, function(data) {
                        if(data.success){
                            _this.message('删除成功 !');
                            _this.tableData.splice(index, 1);
                        }else {
                            _this.message('删除失败 !');
                        }
                    })
                })
            },

            onTableSelect: function(val) {
                this.tableSelect = val;
            },

            inputData: function() {
            },

            exportData: function() {
            },

            getPlatforms: function() {
                var _this = this;
                this.get(urls.getPlatformsUrl, function(data) {
                    if (data["success"]) {
                        _this.platforms = data["data"];
                    }
                });
            },

            getPlatFormModules: function() {
                var _this = this;
                this.get(urls.getPlatFormModulesUrl, function(data) {
                    if (data["success"]) {
                        _this.platFormModules = data["data"];
                    }
                });
            },

            getPlatformStatus: function() {
                var _this = this;
                this.get(urls.getPlatformStatusUrl, function(data) {
                    if (data["success"]) {
                        _this.platformStatus = data["data"];
                    }
                });
            },

            getTaskTypes: function() {
                var _this = this;
                this.get(urls.getTaskTypesUrl, function(data) {
                    if (data["success"]) {
                        _this.taskTypes = data["data"];
                    }
                });
            },

        },
        mounted: function() {
            this.getData();
            this.getPlatforms();
            this.getPlatFormModules();
            this.getTaskTypes();
            this.getPlatformStatus();
        }
    })
</script>
