<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>帖子详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>
<body>
<div id="app" v-cloak>
    <!-- 表单组件 -->
    <div class="ui-form">
        <el-form :model="form" :inline="true" label-width="110px" ref="form">

            <el-form-item label="任务名称" >
                <el-input v-model="form.name" placeholder="请输入"></el-input>
            </el-form-item>

            <div class="ui-form__bd">

                <el-form-item label="平台" prop="role">
                    <el-select v-model="form.platform" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in platforms"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="板块" prop="role">
                    <el-select v-model="form.module" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in platFormModules"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="任务类型" prop="role">
                    <el-select v-model="form.taskType" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in taskTypes"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="业务状态" prop="role">
                    <el-select v-model="form.status" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.index" v-for="item in platformStatus"
                                   :key="item.index"></el-option>
                    </el-select>
                </el-form-item>

            </div>
        </el-form>
    </div>

    <div class="ui-form-edit">
        <el-form :model="form" :rules="rules" ref="forms">
            <div class="ui-title">
                链接管理
                <span class="ui-right">
                    <el-button size="mini" type="primary" @click="showEdit(item)">添加</el-button>
                    <el-button size="mini" type="primary" @click="showEdit(item)">批量导入</el-button>
                    <el-button size="mini" type="danger" @click="remove(item)">删除</el-button>
                </span>
            </div>
            <el-table :data="tableData" stripe border @selection-change="onTableSelect" v-loading="isLoading">
                <!-- 单选 -->
                <el-table-column label="选中">
                    <template scope="scope">
                        <el-radio class="radio" v-model="form.id"></el-radio>
                    </template>
                </el-table-column>
                <el-table-column prop="id" label="ID" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
                <el-table-column prop="platformDesc" label="名称" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
                <el-table-column prop="moduleDesc" label="链接" show-overflow-tooltip min-width="150px" sortable></el-table-column>
                <el-table-column prop="taskTypeDesc" label="数量" show-overflow-tooltip min-width="300px" sortable></el-table-column>
            </el-table>

            <div class="ui-title">
                内容管理
                <span class="ui-right">
                    <el-button size="mini" type="primary" @click="showEdit(item)">添加</el-button>
                    <el-button size="mini" type="primary" @click="showEdit(item)">批量导入</el-button>
                    <el-button size="mini" type="danger" @click="remove(item)">删除</el-button>
                </span>
            </div>
            <el-table :data="tableData" stripe border @selection-change="onTableSelect" v-loading="isLoading">
                <!-- 单选 -->
                <el-table-column label="选中">
                    <template scope="scope">
                        <el-radio class="radio" v-model="form.id"></el-radio>
                    </template>
                </el-table-column>
                <!--<el-table-column type="selection"></el-table-column>-->

                <el-table-column prop="id" label="ID" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
                <el-table-column prop="platformDesc" label="标题" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
                <el-table-column prop="moduleDesc" label="内容" show-overflow-tooltip min-width="150px" sortable></el-table-column>
                <el-table-column prop="taskTypeDesc" label="数量" show-overflow-tooltip min-width="300px" sortable></el-table-column>
            </el-table>

            <div class="ui-title">规则管理</div>
            <div id="app" v-cloak>
            <div class="ui-form-edit">
                <el-form :model="form" :rules="rules" ref="forms" label-width="150px">
                    <div class="ui-block">
                        <div class="ui-block-bd">
                            <el-form-item prop="isRandomSelectLink" label="随机选择链接">
                                <el-radio-group v-model="form.isRandomSelectLink">
                                    <el-radio label="1">是</el-radio>
                                    <el-radio label="0">否</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item prop="isRandomSelectContent" label="随机选择内容">
                                <el-radio-group v-model="form.isRandomSelectContent">
                                    <el-radio label="1">是</el-radio>
                                    <el-radio label="0">否</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="时间间隔(随机)" prop="role">
                                <el-row :gutter="40">
                                    <el-col :span="8">
                                        <div class="grid-content bg-purple">
                                            <el-input v-model="form.startTimeInterval"></el-input>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="grid-content bg-purple">
                                            <el-input v-model="form.endTimeInterval"></el-input>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-form-item>
                            <el-form-item label="PV停留时间" prop="role">
                                <el-select v-model="form.pvStayTime" placeholder="请选择">
                                    <el-option :label="item.desc" :value="item.index" v-for="item in PVStayTimes"
                                               :key="item.index"></el-option>
                                </el-select>
                            </el-form-item>
                        </div>
                    </div>
                </el-form>
            </div>
            </div>

            <div class="ui-form-edit__footer">
                <div class="ui-block-bd">
                    <el-form-item>
                        <el-button type="primary" @click="publishTask">发布</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
    </div>
</div>
</body>
</html>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
<script type="text/javascript">
    var urls = {
        getDataUrl:'/task/publish/search/',
        getPlatformsUrl:'/enums/getPlatforms',
        getPlatFormModulesUrl:'/enums/getPlatFormModules',
        getTaskTypesUrl:'/enums/getTaskTypes',
        getPlatformStatusUrl:'/enums/getPlatformStatus',
        getPVStayTimesUrl:'/enums/getPVStayTimes',
    }

    var app = new Vue({
        el: '#app',
        data: {
            form: {
                name: '',
                platform: '',
                module: '',
                taskType: '',
                status: '',
                isRandomSelectLink: '',
                isRandomSelectContent: '',
                startTimeInterval: '',
                endTimeInterval: '',
                pvStayTime: '',
            },
            tableData: [], // 表格数据
            isLoading: false, // 是否加载中
            // 是否显示编辑弹窗
            isShowEdit: false,
            // 编辑的内容
            formEdit: {},
            // 编辑的条目
            formEditItem: {},
            pageTotal: 0, // 总条数
            pageNo: 1, // 当前分页
            pageSize: 10, // 每页条数
            tableSelect: [],// 储存表格选择的数据
            roleSelectOptions:[],
            // 表单验证规则
            rules: {
            },
            platforms: [], // 平台枚举列表
            platFormModules: [], // 板块枚举列表
            taskTypes: [], // 任务类型枚举列表
            platformStatus: [], // 业务状态枚举列表
            PVStayTimes: [], // PV停留时间枚举列表
        },
        methods: {

            getData: function(params) {
                var _this = this;
                _this.isLoading = true;
                var url = urls.getDataUrl + _this.pageNo;
                params = params || {};
                params["pageSize"] = _this.pageSize;
                _this.post(url,params, function(data, res) {
                    _this.tableData = data.list;
                    _this.pageTotal = data.total;
                    _this.isLoading = false;
                })
            },

            /**
             * 重置表单
             * @return {[type]} [description]
             */
            reset: function() {
                location.reload();
            },

            search: function() {
                var _this = this;
                _this.getData(_this.form);
            },

            onPageChange: function(page) {
                this.pageNo = page;
                this.getData(this.form);
            },

            onSizeChange: function(size) {
                this.pageSize = size;
                this.getData(this.form);
            },

            showEdit: function(item) {
                var _this = this;
                if (item.row) {
                    var content = item.row;
                    for (var key in content) {
                        if (content.hasOwnProperty(key)) {
                            _this.$set(_this.formEdit, key, content[key])
                        }
                    }
                    _this.isShowEdit = true;
                    _this.formEditItem = content;
                }
            },

            submitEdit: function() {
                var _this = this;
                for (var key in _this.formEdit) {
                    if (_this.formEdit.hasOwnProperty(key)) {
                        _this.$set(_this.formEditItem, key, _this.formEdit[key])
                    }
                }
                var url = urls.updateUrl;
                var params = _this.formEditItem;
                _this.post(url,params, function(data) {
                    if(data.success){
                        _this.isShowEdit = false;
                        _this.message('修改成功 !');
                    }else{
                        _this.message('修改失败 !');
                    }
                })
            },

            /**
             * 删除事件
             * @param  {[type]} item [description]
             * @return {[type]}       [description]
             */
            remove: function(item) {
                var _this = this;
                var index = item.$index;
                _this.confirm('确定删除 ?', function() {
                    var params = {
                        id:item.row.id,
                        userName:item.row.userName,
                    }
                    var url=urls.deleteUrl;
                    _this.post(url,params, function(data) {
                        if(data.success){
                            _this.message('删除成功 !');
                            _this.tableData.splice(index, 1);
                        }else {
                            _this.message('删除失败 !');
                        }
                    })
                })
            },

            onTableSelect: function(val) {
                this.tableSelect = val;
            },

            publishTask: function() {
            },

            getPlatforms: function() {
                var _this = this;
                this.get(urls.getPlatformsUrl, function(data) {
                    if (data["success"]) {
                        _this.platforms = data["data"];
                    }
                });
            },

            getPlatFormModules: function() {
                var _this = this;
                this.get(urls.getPlatFormModulesUrl, function(data) {
                    if (data["success"]) {
                        _this.platFormModules = data["data"];
                    }
                });
            },

            getPlatformStatus: function() {
                var _this = this;
                this.get(urls.getPlatformStatusUrl, function(data) {
                    if (data["success"]) {
                        _this.platformStatus = data["data"];
                    }
                });
            },

            getTaskTypes: function() {
                var _this = this;
                this.get(urls.getTaskTypesUrl, function(data) {
                    if (data["success"]) {
                        _this.taskTypes = data["data"];
                    }
                });
            },

            getPVStayTimes: function() {
                var _this = this;
                this.get(urls.getPVStayTimesUrl, function(data) {
                    if (data["success"]) {
                        _this.PVStayTimes = data["data"];
                    }
                });
            },

        },
        mounted: function() {
            this.getData();
            this.getPlatforms();
            this.getPlatFormModules();
            this.getTaskTypes();
            this.getPlatformStatus();
            this.getPVStayTimes();
        }
    })
</script>
