<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>评论任务发布页</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>
<body>
<div id="app" v-cloak>
    <!-- 表单组件 -->
    <div class="ui-form">
        <el-form :model="form" :inline="true" label-width="110px" ref="form">

            <el-form-item label="任务名称" >
                <el-input v-model="form.name" placeholder="请输入"></el-input>
            </el-form-item>

            <div class="ui-form__bd">

                <el-form-item label="平台" prop="role">
                    <el-select v-model="form.platform" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in platforms"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="板块" prop="role">
                    <el-select v-model="form.module" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in platFormModules"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
                <!--<el-form-item label="任务类型" prop="role">-->
                    <!--<el-select v-model="form.taskType" placeholder="请选择">-->
                        <!--<el-option :label="item.desc" :value="item.name" v-for="item in taskTypes"-->
                                   <!--:key="item.name"></el-option>-->
                    <!--</el-select>-->
                <!--</el-form-item>-->
            </div>
        </el-form>
    </div>

    <div class="ui-form-edit">
        <el-form :model="form" :rules="rules" ref="forms">
            <div class="ui-title">
                链接（格式：链接+半角逗号+数量; 多个链接换行区分）
            </div>
            <el-form-item>
                <el-input type="textarea" v-model="form.content"
                          :rows="5"></el-input>
            </el-form-item>
            <div class="ui-title">
                内容库
            </div>
            <el-row type="flex" :gutter="5">
                <el-col>
                    <el-select v-model="form.contentRepositoriesType" placeholder="请选择内容库类型" @change="queryContentInfo">
                        <!--<el-option label="发帖" value="POSIED"></el-option>-->
                        <el-option label="评论" value="COMMENT"></el-option>
                    </el-select>
                </el-col>
                <el-col>
                    <el-select v-model="form.contentRepositoriesName" placeholder="请选择内容名称">
                        <el-option v-for="item in contentInfos" :value="item.title" :key="item.title" :label="item.title"></el-option>
                    </el-select>
                </el-col>
            </el-row>

            <div class="ui-title">规则管理</div>
            <el-form-item label="请选择规则" prop="role">
                <el-select v-model="form.ruleInfoId" placeholder="请选择">
                    <el-option :label="item.name" :value="item.id" v-for="item in rules"
                               :key="item.id"></el-option>
                </el-select>
            </el-form-item>

            <div class="ui-form-edit__footer">
                <div class="ui-block-bd">
                    <el-form-item>
                        <el-button type="primary" @click="publishTask">发布</el-button>
                    </el-form-item>
                </div>
            </div>
        </el-form>
    </div>
</div>
</body>
</html>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
<script type="text/javascript">
    var urls = {
        getDataUrl:'/task/publish/search/',
        getPlatformsUrl:'/enums/getPlatforms',
        getPlatFormModulesUrl:'/enums/getPlatFormModules',
        getTaskTypesUrl:'/enums/getTaskTypes',
        getPlatformStatusUrl:'/enums/getPlatformStatus',
        getPVStayTimesUrl:'/enums/getPVStayTimes',
        publishTaskUrl:'/task/publish/publishTask',
        getContentRepositoriesUrl:'/enums/getContentRepositories',
        queryContentInfoUrl:'/content/queryContentInfo',
        getRulesUrl:'/rule/getRules',
    }

    var app = new Vue({
        el: '#app',
        data: {
            form: {
                taskPublishId: '',
                ruleInfoId: '',
                name: '',
                platform: '',
                module: '',
                taskType: '',
                link: '',
                linkTitle: '',
                contentRepositoriesType: '',
                contentRepositoriesName: '',
            },
            tableData: [], // 表格数据
            isLoading: false, // 是否加载中
            // 是否显示编辑弹窗
            isShowEdit: false,
            // 编辑的内容
            formEdit: {},
            // 编辑的条目
            formEditItem: {},
            pageTotal: 0, // 总条数
            pageNo: 1, // 当前分页
            pageSize: 10, // 每页条数
            tableSelect: [],// 储存表格选择的数据
            roleSelectOptions:[],
            // 表单验证规则
            rules: {
            },
            platforms: [], // 平台枚举列表
            platFormModules: [], // 板块枚举列表
            taskTypes: [], // 任务类型枚举列表
            platformStatus: [], // 业务状态枚举列表
            PVStayTimes: [], // PV停留时间枚举列表
            contentRepositories: [], // 内容库枚举列表
            contentInfos: [], //内容列表
            rules: [], //规则列表
        },
        methods: {

            getData: function(params) {
                var _this = this;
                _this.isLoading = true;
                var url = urls.getDataUrl + _this.pageNo;
                params = params || {};
                params["pageSize"] = _this.pageSize;
                _this.post(url,params, function(data, res) {
                    _this.tableData = data.list;
                    _this.pageTotal = data.total;
                    _this.isLoading = false;
                })
            },

            /**
             * 重置表单
             * @return {[type]} [description]
             */
            reset: function() {
                location.reload();
            },

            search: function() {
                var _this = this;
                _this.getData(_this.form);
            },

            onPageChange: function(page) {
                this.pageNo = page;
                this.getData(this.form);
            },

            onSizeChange: function(size) {
                this.pageSize = size;
                this.getData(this.form);
            },

            onTableSelect: function(val) {
                this.tableSelect = val;
            },

            publishTask: function() {
                var _this = this;
                _this.post(urls.publishTaskUrl, _this.form, function(data) {
                    if(data.success){
                        _this.message('发布成功 !');
                        _this.refresh();
                    }else {
                        _this.message('发布失败 !');
                    }
                })
            },

            getPlatforms: function() {
                var _this = this;
                this.get(urls.getPlatformsUrl, function(data) {
                    if (data["success"]) {
                        _this.platforms = data["data"];
                    }
                });
            },

            getPlatFormModules: function() {
                var _this = this;
                this.get(urls.getPlatFormModulesUrl, function(data) {
                    if (data["success"]) {
                        _this.platFormModules = data["data"];
                    }
                });
            },

            getPlatformStatus: function() {
                var _this = this;
                this.get(urls.getPlatformStatusUrl, function(data) {
                    if (data["success"]) {
                        _this.platformStatus = data["data"];
                    }
                });
            },

            getTaskTypes: function() {
                var _this = this;
                this.get(urls.getTaskTypesUrl, function(data) {
                    if (data["success"]) {
                        _this.taskTypes = data["data"];
                    }
                });
            },

            getPVStayTimes: function() {
                var _this = this;
                this.get(urls.getPVStayTimesUrl, function(data) {
                    if (data["success"]) {
                        _this.PVStayTimes = data["data"];
                    }
                });
            },

            getContentRepositories: function() {
                var _this = this;
                this.get(urls.getContentRepositoriesUrl, function(data) {
                    if (data["success"]) {
                        _this.contentRepositories = data["data"];
                    }
                });
            },

            queryContentInfo: function() {
                var _this = this;
                var params = {
                    contentRepositoriesType:_this.form.contentRepositoriesType,
                }
                _this.post(urls.queryContentInfoUrl, params, function(data) {
                    if(data.success){
                        _this.contentInfos = data["data"];
                        _this.form.contentRepositoriesName = '';
                    }
                })
            },

            getRules: function() {
                var _this = this;
                this.get(urls.getRulesUrl, function(data) {
                    if (data["success"]) {
                        _this.rules = data["data"];
                    }
                });
            },
            init: function(taskPublishId) {
                this.form.taskPublishId  = taskPublishId;
                console.log("taskPublishId:  " + taskPublishId)
            },

        },
        mounted: function() {
            this.getData();
            this.getPlatforms();
            this.getPlatFormModules();
            //this.getTaskTypes();
            this.getPlatformStatus();
            this.getPVStayTimes();
            this.getContentRepositories();
            this.getRules();
        }
    })
</script>
<script>
    var taskPublishId = '${taskPublishId}';
    app.init(taskPublishId);
</script>