<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.AccountMapper">

    <select id="getAccounts" resultType="java.util.HashMap">
        SELECT id, user_name AS userName, full_name AS fullName, password
        , mobile, email, level, platform, task_count as taskCount
        , create_time AS createTime, update_time AS updateTime
        , status, creator, updater FROM account
    </select>

    <select id="getAccountByUserName" resultType="com.xiaopeng.waterarmy.model.dao.Account">
        SELECT * FROM account WHERE user_name=#{userName} AND status = 1
    </select>

    <select id="getAccountsByPlatform" resultType="com.xiaopeng.waterarmy.model.dao.Account">
        SELECT * FROM account WHERE status = 1 AND platform = #{platform}
    </select>

</mapper>