<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.AccountMapper">

    <insert id="save">
        INSERT INTO account (UUID, user_name, full_name, password
        , mobile, email, level, platform, task_count
        , create_time, update_time, creator, updater)
        VALUES (#{account.UUID}, #{account.userName}, #{account.fullName}, #{account.password}
        , #{account.mobile}, #{account.email}, #{account.level}, #{account.platform}, #{account.taskCount}
        , #{account.createTime}, #{account.updateTime}, #{account.creator}, #{account.updater})
    </insert>

    <select id="getAccounts" resultType="java.util.HashMap">
        SELECT id, user_name AS userName, full_name AS fullName, password
        , mobile, email, level, platform, task_count as taskCount
        , create_time AS createTime, update_time AS updateTime
        , status, creator, updater FROM account WHERE status = 1
        <if test="params.userName != null and params.userName != '' " >
            AND user_name = #{params.userName}
        </if>
    </select>

    <select id="getAccountByUserName" resultType="com.xiaopeng.waterarmy.model.dao.Account">
        SELECT * FROM account WHERE user_name=#{userName} AND status = 1
    </select>

    <select id="getAccountsByPlatform" resultType="com.xiaopeng.waterarmy.model.dao.Account">
        SELECT id, user_name AS userName, full_name AS fullName, password
        , mobile, email, level, platform, task_count as taskCount
        , create_time AS createTime, update_time AS updateTime
        , status, creator, updater FROM account WHERE status = 1 AND platform = #{platform}
    </select>


    <select id="getAccountById" resultType="com.xiaopeng.waterarmy.model.dao.Account">
       SELECT id,UUID, user_name AS userName, full_name AS fullName, password
        , mobile, email, level, platform, task_count as taskCount
        , create_time AS createTime, update_time AS updateTime
        , status, creator, updater FROM account WHERE id=#{id} AND status = 1
    </select>

    <update id="update">
        UPDATE account SET update_time = now()
        <if test="params.userName != null and params.userName != '' " >
            , user_name = #{params.userName}
        </if>
        <if test="params.fullName != null and params.fullName != '' " >
            , full_name = #{params.fullName}
        </if>
        <if test="params.password != null and params.password != '' " >
            , password = #{params.password}
        </if>
        <if test="params.mobile != null and params.mobile != '' " >
            , mobile = #{params.mobile}
        </if>
        <if test="params.email != null and params.email != '' " >
            , email = #{params.email}
        </if>
        <if test="params.level != null and params.level != '' " >
            , level = #{params.level}
        </if>
        <if test="params.platform != null and params.platform != '' " >
            , platform = #{params.platform}
        </if>
        <if test="params.status != null and params.status != '' " >
            , status = #{params.status}
        </if>
        WHERE id = #{params.id}
    </update>

    <update id="deleteById">
        UPDATE account SET status = 0 WHERE id = #{id}
    </update>

</mapper>