<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.ContentInfoMapper">

    <insert id="save">
        <selectKey resultType="java.lang.Long" keyProperty="contentInfo.id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO content_info (title, content
        , content_repositories_type
        , create_time, update_time, creator, updater)
        VALUES (#{contentInfo.title}, #{contentInfo.content}
        , #{contentInfo.contentRepositoriesType}
        , #{contentInfo.createTime}, #{contentInfo.updateTime}, #{contentInfo.creator}, #{contentInfo.updater})
    </insert>

    <select id="getContentInfos" resultType="java.util.HashMap">
        SELECT id, title, content
        , content_repositories_type AS contentRepositoriesType
        , create_time AS createTime, update_time AS updateTime
        , creator, updater FROM content_info WHERE 1 = 1
        <if test="params.type != null and params.type != '' " >
            AND content_repositories_type = #{params.type}
        </if>
        <if test="params.contentInfoRepositoriesId != null and params.contentInfoRepositoriesId != '' " >
            AND content_info_repositories_id = #{params.contentInfoRepositoriesId}
        </if>
        <if test="params.title != null and params.title != '' " >
            AND name = #{params.title}
        </if>
        <if test="params.createStartDate != null and params.createStartDate != ''
        and params.createEndDate != '' and params.createEndDate != '' " >
            AND create_time  &gt;= #{params.createStartDate} and create_time &lt;= #{params.createEndDate}
        </if>
        ORDER BY update_time DESC
    </select>

    <select id="querysByRepositoriesType" resultType="com.xiaopeng.waterarmy.model.dao.ContentInfo">
        SELECT * FROM content_info WHERE content_repositories_type = #{type}
    </select>

    <delete id="deleteById">
        DELETE FROM content_info WHERE id = #{id}
    </delete>

    <update id="updateRepositoriesType">
        UPDATE content_info SET update_time = now()
        , content_repositories_type = #{params.contentRepositoriesType}
        , content_info_repositories_id = #{params.contentInfoRepositoriesId}
        WHERE content_repositories_type = "-1"
    </update>

</mapper>