<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.PlatFormMapper">

    <select id="getPlatForms" resultType="java.util.HashMap">
        SELECT id, `name`, `desc`, module, task_type AS taskType, status
        , remark, example_link AS examplelink, create_time AS createTime
        , update_time AS updateTime
        , creator, updater FROM platform_config
        WHERE 1=1
        <if test="params.platform != null and params.platform != '' " >
            AND name = #{params.platform}
        </if>
    </select>

    <update id="update">
        UPDATE platform_config SET update_time = now()
        <if test="params.platform != null and params.platform != '' " >
            , platform = #{params.platform}
        </if>
        <if test="params.module != null and params.module != '' " >
            , module = #{params.module}
        </if>
        <if test="params.taskType != null and params.taskType != '' " >
            , task_type = #{params.taskType}
        </if>
        <if test="params.remark != null and params.remark != '' " >
            , remark = #{params.remark}
        </if>
        <if test="params.status != null and params.status != '' " >
            , status = #{params.status}
        </if>
        WHERE id = #{params.id}
    </update>

</mapper>