<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.PraiseInfoMapper">

    <insert id="save">
       INSERT INTO `praise_info` (`platform`, `userId`, `outUserName`, `createTime`, `modifyTime`, `status`, `targetUrl`, `detailResult`,`commentId`,`commentContent`)
       VALUES
       (#{praiseInfo.platform}, #{praiseInfo.userId}, #{praiseInfo.outUserName}, now(),now(), #{praiseInfo.status}, #{praiseInfo.targetUrl},  #{praiseInfo.detailResult},  #{praiseInfo.commentId},  #{praiseInfo.commentContent})
    </insert>

</mapper>