<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.TaskInfoMapper">

    <select id="getTaskInfos" resultType="java.util.HashMap">
        SELECT id, module, task_type AS taskType
        , executable_count AS executableCount, status
        , create_time AS createTime, update_time AS updateTime
        , creator, updater FROM task_info
    </select>

</mapper>