<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaopeng.waterarmy.model.mapper.TaskExecuteLogMapper">

    <insert id="save">
        INSERT INTO task_execute_log (task_info_id, content_info_id, executor
        , execute_status, handler_result, create_time)
        VALUES (#{taskExecuteLog.taskInfoId}, #{taskExecuteLog.contentInfoId}, #{taskExecuteLog.executor}
        , #{taskExecuteLog.executeStatus}, #{taskExecuteLog.handlerResult}, now())
    </insert>

    <select id="getTaskExecuteLogs" resultType="java.util.HashMap">
        SELECT tel.id, tel.task_info_id AS taskInfoId, tel.content_info_id AS contentInfoId, tel.executor
        , tel.execute_status AS executeStatus, tel.create_time AS createTime
        , ti.name AS taskName, ti.platform, ti.module, ti.task_type AS taskType
        , ti.link_title AS linkTitle, ti.link
        , ci.title AS contentTitle, ci.content
        FROM task_execute_log tel
        LEFT JOIN task_info ti ON tel.task_info_id = ti.id
        LEFT JOIN content_info ci ON tel.content_info_id = ti.id
        WHERE 1=1
        <if test="params.platform != null and params.platform != '' " >
            AND ti.platform = #{params.platform}
        </if>
        <if test="params.taskType != null and params.taskType != '' " >
            AND ti.task_type = #{params.taskType}
        </if>
        <if test="params.taskName != null and params.taskName != '' " >
            AND ti.name = #{params.taskName}
        </if>
        <if test="params.executeStatus != null and params.executeStatus != '' " >
            AND tel.execute_status = #{params.executeStatus}
        </if>
        <if test="params.executor != null and params.executor != '' " >
            AND tel.executor = #{params.executor}
        </if>
        <if test="params.createStartDate != null and params.createStartDate != ''
        and params.createEndDate != '' and params.createEndDate != '' " >
            AND tel.create_time  &gt;= #{params.createStartDate} and tel.create_time &lt;= #{params.createEndDate}
        </if>

    </select>

</mapper>