<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>内容库列表</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>
<body>
<div id="app" v-cloak>
    <!-- 表单组件 -->
    <div class="ui-form">
        <el-form :model="form" :inline="true" label-width="110px" ref="searchForm">
            <el-form-item label="内容库类型" prop="type">
                <el-select v-model="form.type" placeholder="请选择">
                    <el-option :label="item.desc" :value="item.name" v-for="item in contentRepositories"
                               :key="item.name"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="内容名称" prop="ver">
                <el-input v-model="form.name"></el-input>
            </el-form-item>

            <el-form-item label="创建时间" prop="createTime" class="ui-form-item-large ">
                <daterange :start-date.sync="form.createStartDate" :end-date.sync="form.createEndDate" :init-range="[15,1]"></daterange>
            </el-form-item>
            <div class="ui-form__bd">
                <el-row>
                    <el-col :span="24">
                        <div class="ui-text-right">
                            <el-button type="primary" @click="search" size="small">查询</el-button>
                            <el-button @click="reset" size="small">重置</el-button>
                        </div>
                    </el-col>
                </el-row>
            </div>

        </el-form>
    </div>

    <!-- 表格组件 -->
    <div class="ui-table">
        <el-table :data="tableData" stripe border @selection-change="onTableSelect" v-loading="isLoading">
            <el-table-column prop="id" label="ID" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="name" label="内容库名称" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="typeDesc" label="内容库类型" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="count" label="数量" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="createTime" label="创建时间" show-overflow-tooltip min-width="300px" sortable :formatter="formatDateTime"></el-table-column>
            <!-- 自定义模块 -->
            <el-table-column label="操作" min-width="220" align="center" fixed="right">
                <template scope="item">
                    <el-button size="mini" type="primary" @click="link('/content/index?type='
                            +item.row.type + '&contentInfoRepositoriesId=' + item.row.id,'内容详情')">查看详情</el-button>
                    <el-button size="mini" type="danger" @click="showEdit(item)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- 分页组件 -->
    <div class="ui-table__ft-fix">
        <el-row type="flex" class="ui-table__ft">
            </el-col>
            <el-col :span="10">
                <el-button size="small" type="primary" @click="showNew">新增内容库</el-button>
            </el-col>
            <el-col :span="24">
                <div class="ui-page">
                    <el-pagination layout="total, sizes, prev, pager, next, jumper" :total="pageTotal"
                                   @current-change="onPageChange" @size-change="onSizeChange"></el-pagination>
                </div>
            </el-col>
        </el-row>
    </div>

    <!-- 新增弹窗 -->
    <el-dialog title="新增内容库" :visible.sync="isShowNew" :close-on-click-modal="false" top="0%" size="small" :show-close="false"
               :close-on-press-escape="false" @close="onModalClose" @open="onModalOpen">
        <el-form :model="formNew" label-width="100px" :inline="false" :rules="rules" ref="form">
            <el-form :model="formNew" label-width="100px" :inline="false" :rules="rules" ref="formNew">
                <el-form-item label="内容库名称" prop="name" required>
                    <el-input v-model="formNew.name"></el-input>
                </el-form-item>
                <el-form-item label="内容库类型" prop="type">
                    <el-select v-model="formNew.type" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in contentRepositories"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="isShowNew = false">取 消</el-button>
            <el-button type="primary" @click="submitNew">确 定</el-button>
        </div>
    </el-dialog>

    <!-- 编辑弹窗 -->
    <el-dialog title="编辑内容库" :visible.sync="isShowEdit" :close-on-click-modal="false" top="0%" size="small"
               :show-close="false" :close-on-press-escape="false" @close="onModalClose" @open="onModalOpen">
        <el-form :model="formEdit" label-width="100px" :inline="false" :rules="rules" ref="formEdit">
            <el-form :model="formNew" label-width="100px" :inline="false" :rules="rules" ref="formNew">
                <el-form-item label="内容库名称" prop="name">
                    <el-input v-model="formEdit.name" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="内容库类型" prop="type">
                    <el-select v-model="formEdit.type" placeholder="请选择">
                        <el-option :label="item.desc" :value="item.name" v-for="item in contentRepositories"
                                   :key="item.name"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="isShowEdit = false">取 消</el-button>
            <el-button type="primary" @click="submitEdit">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 编辑弹窗 -->

</div>
</body>
</html>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
<script type="text/javascript">
    var urls = {
        getDataUrl:'/content/repositories/search/',
        getContentRepositoriesUrl:'/enums/getContentRepositories',
        addRepositoriesUrl:'/content/repositories/addRepositories',
        updateRepositoriesUrl:'/content/repositories/updateRepositories',
    }

    var app = new Vue({
        el: '#app',
        data: {
            form: {
                name: '',
                type: '',
                status: '',
                createStartDate: '',
                createEndDate: '',
            },
            formNew: {
                name: '',
                type: '',
            },
            tableData: [], // 表格数据
            isLoading: false, // 是否加载中
            // 是否显示编辑弹窗
            isShowEdit: false,
            // 编辑的内容
            formEdit: {},
            // 编辑的条目
            formEditItem: {},
            pageTotal: 0, // 总条数
            pageNo: 1, // 当前分页
            pageSize: 10, // 每页条数
            tableSelect: [],// 储存表格选择的数据
            roleSelectOptions:[],
            // 表单验证规则
            rules: {
            },
            contentRepositories: [], // 内容库枚举列表
            fileList: [], // 上传文件
            isShowNew: false,// 是否显示新增弹窗
        },
        methods: {

            getData: function(params) {
                var _this = this;
                _this.isLoading = true;
                var url = urls.getDataUrl + _this.pageNo;
                params = params || {};
                params["pageSize"] = _this.pageSize;
                _this.post(url,params, function(data, res) {
                    _this.tableData = data.list;
                    _this.pageTotal = data.total;
                    _this.isLoading = false;
                })
            },

            /**
             * 重置表单
             * @return {[type]} [description]
             */
            reset: function() {
                location.reload();
            },

            search: function() {
                var _this = this;
                _this.getData(_this.form);
            },

            onPageChange: function(page) {
                this.pageNo = page;
                this.getData(this.form);
            },

            onSizeChange: function(size) {
                this.pageSize = size;
                this.getData(this.form);
            },

            onTableSelect: function(val) {
                this.tableSelect = val;
            },

            getContentRepositories: function() {
                var _this = this;
                this.get(urls.getContentRepositoriesUrl, function(data) {
                    if (data["success"]) {
                        _this.contentRepositories = data["data"];
                    }
                });
            },

            successUpload : function(response, file, fileList, $event) {
                var _this = this;
                console.log(JSON.stringify(response));
                _this.message('导入成功 !');
                if(response.code == 200){
                    setTimeout(function() {
                        _this.refresh();
                    }, 500)
                }else {
                    this.message('导入失败 !');
                }
            },

            /**
             * 新增弹窗提交
             * @return {[type]} [description]
             */
            submitNew: function() {
                var _this = this;
                // 表单验证
                _this.$refs['formNew'].validate(function(valid) {
                    // 验证通过
                    if (valid) {
                        var url = urls.addRepositoriesUrl;
                        var params = _this.formNew;
                        _this.post(url,params, function(data) {
                            if(data.success){
                                _this.isShowNew = false;
                                _this.refresh();
                                _this.message('添加成功 !');
                            }else{
                                _this.message(data.msg);
                            }
                        })
                    }
                })
            },

            /**
             * 新增弹窗
             * @param  {[type]} item [description]
             * @return {[type]}      [description]
             */
            showNew: function() {
                var _this = this;
                _this.isShowNew = true;
                _this.$nextTick(function() {
                    _this.$refs['form'].resetFields();
                })
            },

            showEdit: function(item) {
                var _this = this;
                if (item.row) {
                    var content = item.row;
                    for (var key in content) {
                        if (content.hasOwnProperty(key)) {
                            _this.$set(_this.formEdit, key, content[key])
                        }
                    }
                    _this.isShowEdit = true;
                    _this.formEditItem = content;
                }
            },

            submitEdit: function() {
                var _this = this;
                for (var key in _this.formEdit) {
                    if (_this.formEdit.hasOwnProperty(key)) {
                        _this.$set(_this.formEditItem, key, _this.formEdit[key])
                    }
                }
                var url = urls.updateRepositoriesUrl;
                var params = _this.formEditItem;
                _this.post(url,params, function(data) {
                    if(data.success){
                        _this.isShowEdit = false;
                        _this.message('修改成功 !');
                        _this.refresh();
                    }else{
                        _this.message('修改失败 !');
                    }
                })
            },

        },
        mounted: function() {
            this.getData();
            this.getContentRepositories();
        }
    })
</script>