<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>内容管理列表</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
    <link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>
<body>
<div id="app" v-cloak>
    <!-- 表单组件 -->
    <div class="ui-form">
        <el-form :model="form" :inline="true" label-width="110px" ref="searchForm">
            <el-form-item label="内容名称" prop="ver">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <div class="ui-form__bd">
                <el-row>
                    <el-col :span="24">
                        <div class="ui-text-right">
                            <el-button type="primary" @click="search" size="small">查询</el-button>
                            <el-button @click="reset" size="small">重置</el-button>
                        </div>
                    </el-col>
                </el-row>
            </div>

        </el-form>
    </div>

    <!-- 表格组件 -->
    <div class="ui-table">
        <el-table :data="tableData" stripe border @selection-change="onTableSelect" v-loading="isLoading">
            <el-table-column prop="id" label="ID" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="title" label="标题" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <el-table-column prop="content" label="内容" show-overflow-tooltip  min-width="100px" sortable></el-table-column>
            <!-- 自定义模块 -->
            <el-table-column label="操作" min-width="120" align="center" fixed="right">
                <template scope="item">
                    <el-button size="mini" type="danger" @click="remove(item)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- 分页组件 -->
    <div class="ui-table__ft-fix">
        <el-row type="flex" class="ui-table__ft">
            <el-upload
                    class="upload-demo"
                    action="/content/importData"
                    :on-success="successUpload"
                    multiple
                    :limit="1"
                    :file-list="fileList"
                    :data="type">
                <el-button size="small" type="primary">批量导入</el-button>
            </el-upload>
            <el-col :span="24">
                <div class="ui-page">
                    <el-pagination layout="total, sizes, prev, pager, next, jumper" :total="pageTotal"
                                   @current-change="onPageChange" @size-change="onSizeChange"></el-pagination>
                </div>
            </el-col>
        </el-row>
    </div>


    <!-- 新增弹窗 -->
    <el-dialog title="新增内容" :visible.sync="isShowNew" :close-on-click-modal="false" top="0%" size="small" :show-close="false"
               :close-on-press-escape="false" @close="onModalClose" @open="onModalOpen">

        <el-form :model="form" label-width="80px" :inline="false" :rules="rules" ref="form">

            <el-form-item prop="isRandomSelectLink" label="随机选择链接">
                <el-radio-group v-model="form.isRandomSelectLink">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item prop="isRandomSelectContent" label="随机选择内容">
                <el-radio-group v-model="form.isRandomSelectContent">
                    <el-radio label="1">是</el-radio>
                    <el-radio label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="时间间隔(随机)" prop="role">
                <el-row :gutter="40">
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <el-input v-model="form.startTimeInterval"></el-input>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <el-input v-model="form.endTimeInterval"></el-input>
                        </div>
                    </el-col>
                </el-row>
            </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="isShowNew = false">取 消</el-button>
            <el-button type="primary" @click="submitNew">确 定</el-button>
        </div>
    </el-dialog>

</div>
</body>
</html>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
<script type="text/javascript">
    var urls = {
        getDataUrl:'/content/search/',
        getContentRepositoriesUrl:'/enums/getContentRepositories',
        deleteUrl:'/content/delete',
        updateContentRepositoriesTypeUrl:'/content/updateContentRepositoriesType',
    }

    var app = new Vue({
        el: '#app',
        data: {
            form: {
                platform: '',
                module: '',
                taskType: '',
                status: '',
                createStartDate: '',
                createEndDate: '',
                name: '',
            },
            tableData: [], // 表格数据
            isLoading: false, // 是否加载中
            // 是否显示编辑弹窗
            isShowEdit: false,
            // 编辑的内容
            formEdit: {},
            // 编辑的条目
            formEditItem: {},
            pageTotal: 0, // 总条数
            pageNo: 1, // 当前分页
            pageSize: 10, // 每页条数
            tableSelect: [],// 储存表格选择的数据
            roleSelectOptions:[],
            // 表单验证规则
            rules: {
            },
            contentRepositories: [], // 内容库枚举列表
            fileList: [], // 上传文件
            isShowNew: false,// 是否显示新增弹窗
            type: '',
            contentInfoRepositoriesId: '',
        },
        methods: {

            getData: function(params) {
                var _this = this;
                _this.isLoading = true;
                var url = urls.getDataUrl + _this.pageNo;
                params = params || {};
                params["pageSize"] = _this.pageSize;
                params["type"] = this.type;
                params["contentInfoRepositoriesId"] = this.contentInfoRepositoriesId;
                _this.post(url,params, function(data, res) {
                    _this.tableData = data.list;
                    _this.pageTotal = data.total;
                    _this.isLoading = false;
                })
            },

            /**
             * 重置表单
             * @return {[type]} [description]
             */
            reset: function() {
                location.reload();
            },

            search: function() {
                var _this = this;
                _this.getData(_this.form);
            },

            onPageChange: function(page) {
                this.pageNo = page;
                this.getData(this.form);
            },

            onSizeChange: function(size) {
                this.pageSize = size;
                this.getData(this.form);
            },

            onTableSelect: function(val) {
                this.tableSelect = val;
            },

            getContentRepositories: function() {
                var _this = this;
                this.get(urls.getContentRepositoriesUrl, function(data) {
                    if (data["success"]) {
                        _this.contentRepositories = data["data"];
                    }
                });
            },

            successUpload : function(response, file, fileList, $event) {
                var _this = this;
                console.log(JSON.stringify(response));
                _this.message('导入成功 !');
                _this.updateContentRepositoriesType();
                if(response.code == 200){
                    setTimeout(function() {
                        _this.refresh();
                    }, 500)
                }else {
                    this.message('导入失败 !');
                }
            },

            /**
             * 新增弹窗提交
             * @return {[type]} [description]
             */
            submitNew: function() {
                var _this = this;
                // 表单验证
                _this.$refs['form'].validate(function(valid) {
                    // 验证通过
                    if (valid) {
                        var url = urls.addUrl;
                        var params = _this.formNew;
                        _this.post(url,params, function(data) {
                            if(data.success){
                                _this.isShowNew = false;
                                _this.refresh();
                                _this.message('添加成功 !');
                            }else{
                                _this.message(data.msg);
                            }
                        })
                    }
                })
            },

            /**
             * 新增弹窗
             * @param  {[type]} item [description]
             * @return {[type]}      [description]
             */
            showNew: function() {
                var _this = this;
                _this.isShowNew = true;
                _this.$nextTick(function() {
                    _this.$refs['form'].resetFields();
                })
            },

            remove: function(item) {
                var _this = this;
                var index = item.$index;
                _this.confirm('确定删除 ?', function() {
                    var params = {
                        id:item.row.id,
                    }
                    var url=urls.deleteUrl;
                    _this.post(url,params, function(data) {
                        if(data.success){
                            _this.message('删除成功 !');
                            _this.tableData.splice(index, 1);
                        }else {
                            _this.message('删除失败 !');
                        }
                    })
                })
            },

            updateContentRepositoriesType: function() {
                var _this = this;
                _this.form.contentRepositoriesType = this.type;
                _this.post(urls.updateContentRepositoriesTypeUrl,_this.form, function(data) {
                    if(data.success){
                        _this.message('修改成功 !');
                        _this.refresh();
                    }else{
                        _this.message('修改失败 !');
                    }
                })
            },

            init: function(type, contentInfoRepositoriesId) {
                this.type = type
                this.contentInfoRepositoriesId = contentInfoRepositoriesId
                this.getData();
            },

        },
        mounted: function() {
            this.getContentRepositories();
        }
    })
</script>
<script>
    var type = '${type}';
    var contentInfoRepositoriesId = '${contentInfoRepositoriesId}';
    app.init(type, contentInfoRepositoriesId);
</script>