<!doctype HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>W-Army</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="renderer" content="webkit">
<link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/element-ui.css?v=${PROJECT_VERSION}">
<link rel="stylesheet" href="//image.uc.cn/s/uae/g/08/static/v2/img/style.css?v=${PROJECT_VERSION}">
</head>

<body>
  <div id="app" v-cloak>

    <index :top-menus=topMenus inline-template ref="index">

      <div class="ui-index">
        <!-- 公共头部 -->
        <div class="ui-header">
          <div class="ui-header-left">
            <a href="#" class="logo">W-Army</a>
            <a href="javascript:;" class="toggle" @click="toggle = !toggle" title="切换菜单">
              <i :class="{'el-icon-d-arrow-right' : toggle, 'el-icon-d-arrow-left' : !toggle}"></i>
            </a>
          </div>

          <div class="ui-header-right">
            <el-menu theme="dark" class="el-menu-demo" mode="horizontal" @select="onSelect">

              <template v-for="(item,index) in topMenus">

                <el-submenu :index="index+''" v-if="item.child && item.child.length">
                  <template slot="title">{{item.title}}</template>
                  <el-menu-item :index="index + '-' + n" v-for="(sub,n) in item.child" :key="n">{{sub.title}}</el-menu-item>
                </el-submenu>

                <el-menu-item :index="index+''" v-else>{{item.title}}</el-menu-item>

              </template>

            </el-menu>
          </div>
        </div>


        <div class="ui-body" :class="{'ui-body-toggle' : toggle}">

          <!-- 左侧菜单 -->
          <div class="ui-sidebar">
            <el-menu :default-openeds="activeIndex" theme="dark" :unique-opened="true" @select="onSelectMenu">
              <el-submenu :index="index+''" v-for="(menu,index) in menus" :key="index">
                <template slot="title">{{menu.title}}</template>
                <el-menu-item :index="n+''" v-for="(item,n) in menu.child" :key="n">{{item.title}}
                  <el-badge class="mark" :value="item.badge" /></el-menu-item>
              </el-submenu>
            </el-menu>
          </div>

          <!-- 中间主体 -->
          <div class="ui-main">

            <div class="ui-tab__hd">
              <div class="ui-tab__hd-tab">
                <el-tabs type="card" @tab-click="changeTab" @tab-remove="removeTab" v-model="activeTab">
                  <el-tab-pane :key="item.url" v-for="(item, index) in tabs" :label="item.title" :name="item.url" :closable="tabs.length > 1">
                  </el-tab-pane>
                </el-tabs>
              </div>
            </div>

            <div class="ui-tab-bd">
              <div class="ui-tab-content" v-for="(item, index) in tabs" :key="item.url" v-show="activeTab == item.url">
                <iframe class="ui-iframe" :src="item.inited ? item.url : ''" width="100%" scrolling="auto" frameborder="0" onload="this.height = this.contentDocument.body.offsetHeight" :name="item.url"></iframe>
              </div>
            </div>

          </div>

        </div>
      </div>

    </index>

    <index-modal></index-modal>

  </div>

<script src="//image.uc.cn/s/uae/g/08/static/v2/js/vue.min.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/element-ui.js?v=${PROJECT_VERSION}"></script>
<script src="//image.uc.cn/s/uae/g/08/static/v2/js/app.js?v=${PROJECT_VERSION}"></script>
  <script type="text/javascript">
    // 配置菜单
    var topMenus = [{
      title: 'W-army',
      subMenus: [
          {
        title: '水军能力',
        child: [
            {title: '发帖管理', url: '/task/publish/index'},
//            {title: '链接管理', url: '/link/index'},
//            {title: '内容管理', url: '/content/index'},
//            {title: '规则管理', url: '/rule/index'},
//            {title: '发帖任务-发帖', url: '/task/taskinfo/index'},///comment/index
//            {title: '发帖任务-评论', url: '/task/contentinfo/index'},
//            {title: '发帖任务-阅读', url: '/task/taskinfo/index'},
//            {title: '发帖任务-评论点赞', url: '/task/taskinfo/index'},
            ]},
            {
                title: '内容管理',
                child: [
                    {title: '内容库列表', url: '/content/repositories/index'},
                ]
            },
            {
                title: '规则管理',
                child: [
                    {title: '规则列表', url: '/rule/index'},
                ]
            },
            {
                title: '任务管理',
                child: [
                    {title: '任务列表', url: '/task/info/index'},
                    {title: '任务执行记录列表', url: '/task/executelog/index'},
                ]
              },
              {
                  title: '账号管理',
                  child: [
                      {title: '账号记录', url: '/account/index'},
                  ]
              },
              {
                  title: '系统设置',
                  child: [
                      {title: '平台列表', url: '/platform/index'},
        //              {title: '编辑功能状态', url: ''},
        //              {title: '功能状态更新记录', url: ''},
        //              {title: '账号等级管理', url:''}
                  ]
              },
    ]
    }, {
      title: '退出',
      url: ''
    }];

    // 初始化
    var app = new Vue({
      el: '#app',
      data: {
        topMenus: topMenus
      }
    });
  </script>
</body>

</html>